<!DOCTYPE html>
<html lang="en">
  <%- include("../includes/head") %>
  <body>
    <h1>Post Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe error
      aspernatur earum laboriosam assumenda excepturi illo ullam! Fugiat cumque
      eum nemo veritatis? Sapiente deserunt fuga dolores nemo laboriosam sunt
      nostrum!
    </p>
  </body>
</html>
